body {
  font-family: "Tajawal", sans-serif;
}
.container {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.nav {
  margin: 0px 24px;
  position: relative;
  font-size: 20px;
}
.nav::before {
  transform: scaleX(0);
  transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200 100% 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}
.nav:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.logo {
  font-weight: bold;
}
.WebDesc {
  background-image: url(../assets/bg1.png);
  background-size: cover;
  color: white;
  height: 600px;
}
.WebDesc h1 {
  margin: 0 800px 0 100px;
  padding: 200px 0;
}

/* artikel */
.hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 0%);
  display: flex;
  height: 400px;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}
@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  list-style: none;
  position: relative;
  border: none;
}

.card:before {
  content: "";
  display: block;
  width: 100%;
}
.card_image {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  position: absolute;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
.card:hover .card_image {
  transform: scale(1.05) translateZ(0);
}
.card-grid:hover > .card:not(:hover) .card_image {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(2px);
}

.card-title {
  position: absolute;
  top: 150px;
  left: 40px;
}
.card-title h5 {
  font-weight: bold;
  color: var(--text-lighter);
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}
/* informasi */
.information {
  background-image: url("../assets/bg.png");
  background-size: cover;
  width: 100%;
  height: auto;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
.PHAir {
  padding: 50px 50px 0px 50px;
  margin: 0;
}
.KetinggianAir {
  padding: 0px 100px 50px 50px;
  margin: 0;
}
.text1 {
  margin: 100px 0px;
  padding: 0px 150px;
}
.text1 h2 {
  font-weight: bolder;
}
.informationPicture {
  text-align: center;
}
.PHImage {
  width: 400px;
  height: 300px;
}
.KetinggianImage {
  width: 300px;
  height: 360px;
}

/* Footer */
.footer {
  width: 100%;
  padding: 0px;
}
.group1 {
  padding-top: 100px;
}
.group2 {
  padding-left: 50px;
  padding-top: 30px;
}
.progressbutton {
  width: 160px;
  height: 50px;
  font-weight: bolder;
  box-shadow: 8px 10px 5px #aaaaaa;
}
.copyright {
  margin-top: 30px;
  width: 100px;
}

.NamesOfGroup {
  margin: 20px 0px;
}
h6 {
  font-weight: bold;
}
.logo {
  margin-left: 4px;
}
.yabbImage {
  height: 30px;
  padding-left: 150px;
  margin-top: -50px;
}
.gigihImage {
  height: 50px;
  padding-left: 220px;
  margin-top: -50px;
}
.mail {
  height: 24px;
}
.linkedin {
  height: 24px;
  padding-left: 5px;
}
.garis-bawah {
  border-bottom: solid;
  padding-right: 100px;
}
